# Python
__pycache__/
*.py[cod]
*.pyo
venv/
*.egg-info/
.eggs/

# Environment
.env

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/build/
frontend/.env.local

# IDE
.vscode/
.idea/

# Alembic
backend/alembic/versions/__pycache__/

# Logs
logs/
*.log
